#navbar {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgb(71, 107, 214);
}

#navbar nav {
  display: flex;
  gap: 1ch;
}

#navbar #brand {
  display: flex;
  gap: 1ch;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

#navbar #brand img {
  height: 6rem;
}

#link {
  text-decoration: none;
  color: black;
  padding: 1ch;
  font-size: 1.25rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

@media (width <= 400px) {
  #navbar #brand p {
    display: none;
  }
}
