#tools {
  display: grid;
  gap: 1rem;
  list-style: none;
}

tr.tool {
  display: grid;
  grid-template-columns: 10ch 1fr;
  gap: 1ch;
  background: #eee;
  padding: 0.5rem;
}

li.tool .name {
  font-weight: bold;
}

#tool {
  display: table;
  gap: 15ch;
  text-align: left;
  width: 100rem;
}

#toolAdd {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.th {
  width: 15ch;
}

@media (width >= 450px) {
  #tool {
    grid-template-columns: 1fr 2fr;
  }

  #tool figure {
    align-items: start;
  }
}

form#search {
  grid-template-columns: 1fr 10ch;
  margin-bottom: 0.25rem;
}

form#search label {
  grid-template-columns: auto 1fr;
}
